<!-- login modal -->
<div class="modal" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-resize">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">You cannot remember your password!</h4>

            </div>
            
            <div class="modal-body">
                
                <div ng-show="forgot.step == 1">
                    <p>Please enter your email.</p>
                    <input type="text" class="form-control" required ng-model="forgot.email"
                    style="display:inline-block; width:240px;">
                    <button ng-click="sendTempKeyMail()" class="btn btn-primary">
                        Send {{forgot.mailCount > 0 ? 'again' : ''}}
                    </button>
                    <p ng-show="forgot.progress">
                        <img src="/resource/img/ing.gif">
                        We are sending email... please wait...
                    </p>
                    <p style="color:#8796f2; font-size:0.9em;" ng-show="!forgot.progress">{{forgot.message1}}</p>
                    <br/>
                    <div ng-show="forgot.showTempKeyText">
                        <p>Please Enter the verifying key.</p>
                        <input type="text" ng-model="forgot.tempKey" class="form-control">
                    </div>
                    <p style="color:#8796f2; font-size:0.9em;">{{forgot.message2}}</p>
                    <br/>
                </div>

                <div ng-show ="forgot.step == 2">
                    <p>Please enter new password</p>
                    <input type="password" class="form-control" ng-model="forgot.password">
                    <br/>
                    <p>Please re-enter password.</p>
                    <input type="password"class="form-control" ng-model="forgot.confirmPassword">
                    <p>{{forgot.message3}}</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" ng-disabled="!forgot.tempKey" ng-click="checkTempKey()" ng-show="forgot.step == 1">Next</button>
                <button type="submit" class="btn btn-primary" ng-disabled="forgot.password !== forgot.confirmPassword || !forgot.password || !forgot.confirmPassword" ng-click="changePassword()" ng-show= "forgot.step == 2 ">Change password</button>
            </div>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
