<form ng-submit ="updatePassword()">
<h1>Password setting</h1>

<hr />
<div class="edituser-parts" ng-show="(initData.facebook.isFacebook && initData.facebook.hasPassword) || (!initData.facebook.isFacebook && !initData.facebook.hasPassword)">
	<div class="edituser-left-side">
	Existing password <br />
	</div>
	<div class="edituser-right-side">
		<input type="password" placeholder = "Existing password" class="form-control setting-input-password" ng-model = "passwordSetting.existingPassword" id="existingPassword">
		<p class="password-tooltip"> Please write your password.</p>
	</div>

</div>
<div class="edituser-parts">
	<div class="edituser-left-side">
	New password
	</div>
	<div class="edituser-right-side">
		<input type="password" placeholder = "New password" class="form-control setting-input-password" ng-model = "passwordSetting.newPassword" id="newPassword">
		<p class="password-tooltip" style="top:-27px">Your password must contain between 6 and 16 characters. For added security, use numbers, letters</p>
	</div>

</div>
<div class="edituser-parts">
	<div class="edituser-left-side">
	Re-enter new password
	</div>
	<div class="edituser-right-side">
		<input type="password" placeholder = "Re-enter new password" class="form-control setting-input-password" ng-model = "passwordSetting.rePassword" id="rePassword">
		<p class="password-tooltip">Please check your password.</p>
	</div>

</div>
<p style="color:red">{{hint}}</p>
<div class="edituser-parts align-right">
	<input type="submit" value="Save" class="btn btn-primary">
</div>
</form>

<script>
    
</script>
