
<!-- 같은 종목 같은 나라 혹은 제휴업체의 클리닉목록을 보여줌 -->
<div class="page-recommand-wrapper">
    <div class="page-recommand-lists">
        <p style="font-size:1.3em; font-weight:bold">Recommend shops</p>

        <div class="slick-slider">

            <div>
                <a href="/page/1">
                    <div class="page-recommand">
                        <h3>shop 1</h3>
                        <span class="fontSkyblue" style="font-size:1.6em;">23</span>
                        <span class="fontGray">people like this shop</span>
                        <img src="resource/img/sampleimg/clinic2.jpg" class="page-recommand-pic">
                    </div>
                </a>
            </div>
            <div>
                <a href="/page/2">
                    <div class="page-recommand">
                        <h3>shop 2</h3>
                        <span class="fontSkyblue" style="font-size:1.6em;">23</span>
                        <span class="fontGray">people like this shop</span>
                        <img src="resource/img/sampleimg/clinic2.jpg" class="page-recommand-pic">
                    </div>
                </a>
            </div><div>
                <a href="/page/3">
                    <div class="page-recommand">
                        <h3>shop 3</h3>
                        <span class="fontSkyblue" style="font-size:1.6em;">23</span>
                        <span class="fontGray">people like this shop</span>
                        <img src="resource/img/sampleimg/clinic2.jpg" class="page-recommand-pic">
                    </div>
                </a>
            </div><div>
                <a href="/page/4">
                    <div class="page-recommand">
                        <h3>shop 4</h3>
                        <span class="fontSkyblue" style="font-size:1.6em;">23</span>
                        <span class="fontGray">people like this shop</span>
                        <img src="resource/img/sampleimg/clinic2.jpg" class="page-recommand-pic">
                    </div>
                </a>
            </div><div>
                <a href="/page/5">
                    <div class="page-recommand">
                        <h3>shop 5</h3>
                        <span class="fontSkyblue" style="font-size:1.6em;">23</span>
                        <span class="fontGray">people like this shop</span>
                        <img src="resource/img/sampleimg/clinic2.jpg" class="page-recommand-pic">
                    </div>
                </a>
            </div>


        </div>

    </div>
</div>
<script>
    
</script>