@import 'normalize';
@import 'shared';
@import 'components';

$background-img: url("../images/background.png");

.container {
	width: 980px;
	margin: 0 auto;
}

body {
  background-image: $background-img;
 	background-position: center 0;
}